{% extends "agendamento/index.html" %}



{% block conteudo %}
<div class="content-wrapper">  
  <form action="#" class="form-contact" method="post" tabindex="1">  
     <input type="text" class="form-control" name="nome" placeholder="Nome" required /> <br> 
     <br> 
     <input type="email" class="form-control" name="email" placeholder="Email" required />  <br> 
     <br> 
     <input type="tel" class="form-control" name="tel" placeholder="Telefone" />  <br> 
     <br> 
     <textarea class="form-control-textarea" name="conteudo" placeholder="Deixe uma mensagem" required></textarea>  
     <br> 
     <button type="button" class="btn btn-primary">Enviar</button>
 
  </form>  
</div>  

{% endblock %}



 








  




