

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css'%}">
      <link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.css' %}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Yuri Whinnycios Apolinario</title>
    <style media="screen">
      .bg-cinza-claro{

        background-color: 'gray';
      }
      .redondo {
         width: 40px;
         height: 40px;
         background-color: #800080;
         color: #FFF;

         /* Agora a mágica */
         /* border-radius: 50%; */
       }
       .cor{
         width:"20px";
         height:"20px";
         color: #800080;

       }
       .inline{
         display: inline-block;
       }
     /*  .center{
         margin-top: 15px;
         margin-left: 15px;
         margin-right: 12px;
         margin-bottom: 15px;

       }*/
       #icone{
         width: 40px;
         height: 40px;
         padding: 6px;
         font-size: 23px;
       }
    </style>

  </head>
  <body>


    <div class="container mt-2 shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row border bg-light p-5"  >


        <div class="col-lg-8 ">
          <div class="">
            <h2 class="font-weight"> Yuri W. </h2>
            <h1 class="font-weight-bold">Apolinario</h1>

          </div>

        </div>

          <div class="col-lg text-right">

            Endereço <i class="fa fa-home rounded cor"  aria-hidden="true"></i><br>
            (44)-9-9113-7542 <i class="fas fa-mobile cor"></i><br>
            Linkedin <i class="fab fa-linkedin cor"></i><br>
            yuri.whinnycios@gmail.com <i class="fas fa-envelope-open-text cor"></i><br>
            portifolio/site/etc.. <i class="fas fa-globe cor"></i>
             <br>



          </div>


      </div>

      <div class="row border p-5">
        <div class="col">

          <div class="row">
            <div id="icon" class="col-lg-1 text-right">
              <div id="icone" class="rounded-circle border-raius redondo text-center">
                  <i class="fas fa-bars"></i>

              </div>
            </div>
            <div class="col-8">
              <h3 class="font-weight-bold ">Objetivos</h3>
              <p>Procuro novos desafios profissionais e uma efetivação no mercado, tendo o desenvolvimento de minhas habilidades e a geração de resultados como objetivo, viabilizando um crescimento qualitativo e quantitativo para a empresa.</p>
            </div>
          </div>

          <div class="row">
            <div id="icon" class="col-lg-1">
              <div id="icone" class="rounded-circle border-raius redondo text-center">
                  <i class="fa fa-graduation-cap  " aria-hidden="true"></i>

              </div>
            </div>
            <div class="col-8">
              <h3 class="font-weight-bold ">Educação</h3>
              <h4 class="font-weight-bold">Analista de sistemas | IFPR</h4>
                <h4>02/2017 - curssando </h4>
                <p>

                </p>
                <h4 class="font-weight-bold color = #800080">Analise e desenvolvimento de sistemas</h4>
                <p>

                </p>

                <h4 class="font-weight-bold">Tecnico Administrativo | Colegio Estadual Ary João Dresch E.F.M.P</h4>
                  <h4>07/2015 - 12/2017 </h4>
                  <p>

                  </p>
                  <h4 class="font-weight-bold color = #800080">Técnico em Administração</h4>
                  <p>

                  </p>
            </div>
            <div class="col8">

              </div>
          </div>
          <div class="row">
            <div id="icon" class="col-1">
              <div id="icone"class="rounded-circle border-raius redondo text-center">
                <i class="fa fa-briefcase center " aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-8">
              <h3 class="font-weight-bold ">Experiência</h3>

              <h4>Operador de maquinas envasadora | Alimentos Lopes</h4>
              <h4>05/2014 - 05/2016 </h4>
              <p> comecei na produção até tornar conferente de cargas e operador de maquinas envasadora</p>

              <h4>Tecnico em Manutenção de micro computadores | Autonomo</h4>
              <h4>06/2014 - 10/2018 </h4>
              <p> Prestava serviços de informatica e consultoria para agumas empresas </p>

              <h4>Estagiario | Apice Sistemas</h4>
              <h4>11/2018 - até o momento </h4>
              <p>Atendimento ao cliente e suporte para os produtos vendidos pela empresa no caso sofrwares comerciais</p>




            </div>
          </div>
          <div class="row">
            <div id="icon" class="col-1">
              <div id="icone" class="rounded-circle border-raius redondo text-center">
                  <i class="fas fa-tools"></i>
              </div>
            </div>
            <div class="col-8">
              <h3 class="font-weight-bold ">Habilidades</h3>
              <ul>
                <li>Manutenção de Micro computadores</li>
                <li>SQL</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java</li>
                <li>javascript</li>
                <li>Linux</li>
                <li>Redes de Computadores</li>
                <li>Fundamentos de Engenharia de Softwares</li>

              </ul>
            </div>
        </div>

      <div class="row">
          <div id="icon" class="col-1">
            <div id="icone" class="rounded-circle border-raius redondo text-center">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-8">
            <h3 class="font-weight-bold ">Atividade</h3>
            <p>Gosto muito de trabalhar com infraestrutura e em outras areas de T.I como engenharia de Software, SQL,gerencia de projeto. </p>

          </div>
      </div>
    </div>




      </div>

    </div>

  </body>
</html>
