{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Barbearia</title>
  <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css'%}" />
  <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css'%}" />
  <link rel="stylesheet" href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style media="screen">
    #background {
      background: url=("{% static 'images/img/barbearia.jpeg' %}");
    }
  </style>

</head>

<body>

  <div class=" container-scroller">
    {% block nav %}
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="bg-white text-center navbar-brand-wrapper">
        <a class="navbar-brand brand-logo" href="index.html"><img src="{% static 'images/logo_star_black.png' %}" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/logo_star_mini.jpg' %}"
            alt=""></a>
      </div>

      

      <div class="navbar-menu-wrapper d-flex align-items-center">

        



        <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button"
          data-toggle="minimize">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
          <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
        </form>
        <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
          <li class="nav-item">
            <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="static/images/face.jpg"
                alt=""></a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                  Entrar
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user-create' %}">
                  <i class="fa fa-user-plus" aria-hidden="true"></i>
                  Registrar
                </a>
              </li>
          {% endif %}
        </ul>
        <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <!-- partial:partials/_sidebar.html -->
        <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
          
        {% if request.user.is_authenticated %}

          <ul class="nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">
                <img src="static/images/icons/1.png" alt="">
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre' %}">
                <img src="static/images/icons/2.png" alt="">
                <span class="menu-title">Sobre</span>
              </a>
            </li>

            <li class="nav-item">

              <a class="nav-link" href="{% url 'contato' %}">
                <img src="static/images/icons/2.png" alt="">
                <span class="menu-title">contato</span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Cadastros
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'cadastrar-estado' %}">Estado</a>
                <a class="dropdown-item" href="{% url 'cadastrar-cidade' %}">Cidade</a>
                <a class="dropdown-item" href="{% url 'cadastrar-barbeiro' %}">barbeiro</a>
                <a class="dropdown-item" href="{% url 'cadastrar-cliente' %}">cliente</a>
                <a class="dropdown-item" href="{% url 'cadastrar-agenda' %}">agenda</a>
                <a class="dropdown-item" href="{% url 'cadastrar-caixa' %}">caixa</a>

              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Consulta
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if request.user.groups.all.0.name == "Administrador" %}
                <a class="dropdown-item" href="{% url 'listar-caixas' %}">caixas</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'listar-estados' %}">Estado</a>
                <a class="dropdown-item" href="{% url 'listar-cidades' %}">Cidade</a>
                <a class="dropdown-item" href="{% url 'listar-barbeiros' %}">Barbeiros</a>
                <a class="dropdown-item" href="{% url 'listar-clientes' %}">clientes</a>
                
              </div>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'curriculo' %}">
                <img src="static/images/icons/2.png" alt="">
                <span class="menu-title">Curriculo</span>
              </a>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                  <img src="static/images/icons/2.png" alt="">
                  <span class="menu-title">Sair</span>
                </a>
            </li>
           </ul> 
        {% endif %}

        </nav>
        {% endblock %}


        {% block conteudo%}
        <div class="content-wrapper">

          {% if request.user.is_authenticated %}
          <h3>Olá {{ request.user.username }} </h3>

          {% endif %}
        </div>

        {% endblock%}



        {% block rodape %}
        <!-- partial:partials/_footer.html -->

        <div class="footer">
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="float-right">
                <a href="#">Star Admin</a> &copy; 2017
              </span>
            </div>
          </footer>

        </div>

        <!-- partial -->
      </div>
    </div>


  </div>
  {% endblock %}

  {% block javascript %}



  {% endblock %}
  <script src="{% static 'node_modules/jquery/dist/jquery.min.js'%}"></script>
  <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src=" https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMaps"
    async defer></script>
  <script src = "{% static 'js/jquery.mask.js '%}"></script>  
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js'%}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/maps.js' %}"></script>
</body>


</html>