{% extends "agendamento/index.html" %}
{% load static %}


         {% block conteudo %}
           <div class="content-wrapper">
             <h3>Sistema de gerenciamento  de uma barbearia</h3>
             <br>
             <img src="{% static 'images/diagrama.jpg' %}" alt="">
             <br>
             <p>O intuito desse projeto é desenvolver uma aplicação web
             com o framework django + python, o sistema é para auxiliar no gerenciamento de uma barbearia</p>

           </div>
         {% endblock %}


